HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/local-config/*.json
!**/local-config/*.json

/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.DS_Store

acentercachedata/
tokencachedata/
local-config/
ehCacheData/

### login page builded file ###
###/bizp-passport-api/src/main/resources/static
###/bizp-passport-api/src/main/resources/templates
.lock
*ehcache-disk-store.data
*ehcache-disk-store.meta

database